/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
*.log

http-client.private.env.json
src/test/http-client.private.env.json

src/main/resources/application.yml


